* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    background-color: #252839;
}
.markdown-body {
    font-size: 18px;
    --color-canvas-default: #252839;
}