* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    background-color: #252839;
}
.markdown-body {
    font-size: 18px;
    --color-canvas-default: #252839;
}
.right-content {
    position: fixed;
    left: 200px;
    top: 0;
    height: 100vh;
    width: calc(100% - 200px);
    background-color: #252839;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    color: #fff;
    font-size: 18px;
}
